*{
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-size: 12px;
    font-family: arial;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    color: #555;
    font-family: arial;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
textarea {
    padding-top: 10px;
    resize: none;
    height: 80px;
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: arial;
    transition: all 0.3s ease;
}
button {
    color: #fff;
    display: block;
    width: 100px !important;
    height: 30px;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: firebrick;
    border: 2px solid firebrick;
    transition: all 0.3s ease;
        font-family: arial;
}

    button:hover {
        color: firebrick;
        background: none;
            font-family: arial;
    }

button-area {
    display: flex;
    align-items: center;

}

.inlinebuttons {
    display: inline-block;
}

.contact-content.text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
        font-family: arial;
}
.contact-content .info {
        margin-left: 30px;
        

}
.contact-content .info .head {
    font-weight: 500;
}
.contact-content .info .sub-title {
    color: #333;
}
.contact-content{
    width: 100%;
    margin: auto;
    overflow: hidden;
    font-size: 13px;
}
.max-width{
    width: 90%;
    margin: auto;
    overflow: hidden;
    font-size: 13px;
}
input {
  border: 2px solid firebrick;
  border-radius: 2px;
  background-color: #f4f4f4;
  color: #555;
  font-family: arial;
}
label{
    font-size: 14px;
    font-family: arial;
}
select{
    border: 2px solid firebrick;
    border-radius: 3px;
    background-color: #f4f4f4;
    color: #555;
    font-family: arial;
}
::placeholder{
    color: #555;
}
.header {
  padding: 50px;
  font-size: 23px;
  text-align: center;
  color: #343434;
  background-image: url('../images/proba21.jpg');
  background-position: right center;
  text-shadow: -4px 4px 6px white;
}
.inline1{
    display: inline-block;
}
#sidebar{
    float: right;
    width: 30%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
footer {
    background-image: url('../images/proba21.jpg');
    color: #343434;
    text-align: center;
    font-size: 12px;
   left: 0;
   bottom: 0;
   width: 100%;
}